<div class="flex flex-col items-center min-h-screen bg-white">
  <div class="w-[90%] max-w-4xl pt-12 space-y-4">
    <h1 class="text-[36px] font-bold text-center">NFL Moneyball</h1>

    <app-player-search
      (submit)="handleSearch($event)"
      (submit)="handleSearch($event)"
      [searchValue]="searchValue()"
    />
    <div class="flex flex-wrap gap-2 justify-center text-sm">
      @for (search of recommendedSearches; track search) {
        <app-badge [text]="search" (badgeClicked)="searchValue.set($event)" />
      }
    </div>

    <div class="w-[90%] h-full max-w-6xl">
      @if (isLoading) {
        <h1 class="text-lg font-medium text-center mt-10">Loading...</h1>
      } @else if (!isLoading && players().length > 0) {
        <div class="flex flex-row items-center h-6 gap-y-2 py-6">
          <h2 class="text-2xl font-bold py-5">
            <span class="material-icons">trending_up</span> Similar Players
          </h2>
        </div>
        <swiper-container
          slides-per-view="2"
          navigation="false"
          pagination="false"
          space-between="30"
          loop="false"
          class="w-full mt-3 p-2"
        >
          @for (player of players(); track player.id) {
            <swiper-slide>
              <app-player-card [player]="player" />
            </swiper-slide>
          }
        </swiper-container>
      }
    </div>
  </div>
</div>
